.adaptability-buttons-container {
    display: flex;
    flex-direction: column;
}

.adaptability-buttons-title {
    font-weight: 600;
}

.adaptability-button {
    margin: 1%;
    font-size: 0.75rem;
    width: 200px;
}
.crs-form-buttons-adaptability {
    width: 100%;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}